body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.game {
	width: 100%;
  	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #202020;
}

canvas {
	image-rendering: pixelated;
	height: 100%;
}